<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAljKVJmbXpUbBa5DzQcviHN_izYy_c9-w</string>
	<key>GCM_SENDER_ID</key>
	<string>952040508236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busTrack</string>
	<key>PROJECT_ID</key>
	<string>bustrack-2e4f4</string>
	<key>STORAGE_BUCKET</key>
	<string>bustrack-2e4f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952040508236:ios:79a42bd06d5e1e2f0cdde9</string>
</dict>
</plist>